# Ignore build
thesis.pdf

# Ignore intermediate latex files and latexmk bits
*.dvi
*.aux
*.loc
*.log
*.synctex.gz
*.blg
*.bbl
*.out
*.toc
*.fls
*.fdb_latexmk
*.xml
*.bcf

# Ignore python stuff which I leave lying around sometimes
*.npy
*.pkl
*__pycache__

# Ignore vim swap files
*.swp

.*
