#Ignore intermediate latex files
*.dvi
*.aux
*.loc
*.log
*.synctex.gz
*.blg
*.bbl
*.out
*.toc

thesis.pdf

#Ignore python stuff which I leave lying around sometimes
*.npy
*.pkl
*__pycache__

# Ignore any latexmk files
*.fls
*.fdb_latexmk
*.xml
*.bcf

# Vim files
*.swp
