#Ignore backup files from gedit
*~

#Ignore intermediate latex files
introduction.pdf
*.dvi
*.aux
*.loc
*.log
*.synctex.gz
*.blg
*.bbl
*.out
*.toc
#Ignore any data lying around
*.npy

# Ignore any latexmk files
*.fls
*.fdb_latexmk
*.xml

# Vim files
*.swp
